<launch>
  <!-- you can load an exisiting tree with <node ... args="tree.bt"> !-->
  <node pkg="truck_server" type="octomap_truck_server_node" name="octomap_talker" output="screen">
    <param name="resolution" value="0.1" />
    <param name="frame_id" type="string" value="world" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find truck_server)/config/truck_octomap.rviz" />
  <node pkg="truck_server" type="truck_octomap_flag.py" name="truck_octomap_flag" />
  <node pkg="truck_server" type="query_point_display.py" name="query_point_display" />
</launch>
