<launch>
  <arg name="has_hector" default="true"/>
  <arg name="route_id" default="1"/>
  <arg name="radius" default="30.0"/>
  <arg name="empty_world" default="true"/>
  <arg name="gazebo" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="dji" default="false"/>
  <arg name="landing" default="false"/>
  <arg name="collision" default="false"/>
  <arg name="uav_direct_start" default="true"/>
  <arg name="x" default="-10.0"/>
  <arg name="y" default="-30.0"/>

  <node pkg="truck_server" type="octomap_truck_server_node" name="octomap_talker" output="screen">
    <param name="debug_mode" value="$(arg debug)" />
    <param name="dji_mode" value="$(arg dji)" />
    <param name="landing_mode" value="$(arg landing)" />
    <param name="collision_detection" value="$(arg collision)" />
    <param name="route_id" value="$(arg route_id)" />
    <param name="resolution" value="0.35" />
    <param name="tree_depth" value="10" />
    <param name="frame_id" type="string" value="world" />
    <param name="spline_degree" value="2" />
    <param name="global_planning_period_time" value="1.0" />
    <param name="trajectory_function_print_flag" value="false" />

    <!-- track or circle -->
    <param name="truck_odom_sub_topic_name" type="string" value="/truck_odom" unless="$(arg dji)" />
    <param name="truck_odom_sub_topic_name" type="string" value="/object/global/odom" if="$(arg dji)" />
    <param name="route_radius" value="$(arg radius)" />
    <param name="target_height" value="1.8" /> <!-- 1.8 -->

    <!-- quadrotor command -->
    <param name="uav_direct_start_mode" value="$(arg uav_direct_start)" />
    <param name="global_coordinate_control_mode" value="false" />
    <param name="uav_odom_sub_topic_name" type="string" value="/ground_truth/state" unless="$(arg dji)" />
    <param name="uav_odom_sub_topic_name" type="string" value="/dji_sdk/odometry" if="$(arg dji)" />
    <param name="uav_odom_sub_topic_name" type="string" value="/ground_truth/state" if="$(arg debug)" />
    <param name="uav_cmd_pub_topic_name" type="string" value="/cmd_vel" />
    <param name="uav_odom_freq" value="50.0" unless="$(arg dji)" />
    <param name="uav_odom_freq" value="100.0" if="$(arg dji)" />
    <param name="uav_vel_upper_bound"  value="7.0" />
    <param name="uav_vel_lower_bound"  value="-7.0" />
    <param name="uav_acc_upper_bound"  value="2.0" />
    <param name="uav_acc_lower_bound"  value="-2.0" />
    <param name="uav_cmd_traj_track_p_gain"  value="0.2" />
    <param name="uav_cmd_traj_track_i_gain"  value="0.1" />
    <param name="uav_cmd_traj_track_d_gain"  value="0.0" />
    <param name="uav_tracking_landing_constant_speed"  value="-0.5" />
    <param name="uav_landing_constant_speed"  value="-1.0" />
    <param name="uav_force_landing_speed"  value="-1.0" />
    <param name="uav_start_landing_height_upperbound"  value="5.0" />
    <param name="uav_force_landing_height_upperbound"  value="0.2" />
    <param name="uav_force_landing_cnt_thresh"  value="5" />
    <param name="uav_force_landing_method"  value="2" /> <!-- 1, follow fixed truck velocity 2, follow fixed planned trajectory -->
  </node>

  <group if="$(arg debug)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find truck_server)/config/truck_octomap.rviz" />
    <node pkg="truck_server" type="lane_marker_flag.py" name="lane_marker_flag" />
    <group unless="$(arg dji)">
      <!-- publish pre-set cars odometry -->
      <node pkg="truck_server" type="sim_cars_poses_pub.py" name="sim_cars_poses_pub" output="screen">
        <param name="route_id" value="$(arg route_id)" />
        <param name="route_radius" value="$(arg radius)" />
        <param name="truck_vel" value="4.17" />
      </node>
    </group>
  </group>

  <!-- subscribe uav commander and send to dji drone -->
  <!--
      <group unless="$(arg debug)">
      <group if="$(arg dji)">
      <node pkg="truck_server" type="dji_uav_commander.py" name="dji_uav_commander" output="screen">
      <param name="global_coordinate_control_mode" value="false" />
      <param name="control_velocity_sub_topic_name" value="/cmd_vel" />
      </node>
      </group>
      </group>
  -->

  <!-- generate global bspline path message -->
  <node pkg="bspline_ros" type="tinyspline_ros_node" name="bspline_ros" output="screen">
    <param name="spline_degree" value="2" />
  </node>

  <node pkg="quadrotor_trajectory" type="vehicle_trajectory_estimator_node" name="truck_traj" output="screen">
    <param name="vehicle_odom_sub_topic_name" type="string" value="/truck_odom" unless="$(arg dji)" />
    <param name="vehicle_odom_sub_topic_name" type="string" value="/object/global/odom" if="$(arg dji)" />
    <param name="vehicle_traj_param_pub_topic_name" type="string" value="/truck_traj_param" />
    <param name="vehicle_traj_path_pub_topic_name" type="string" value="/truck_traj_path" />
    <param name="vehicle_traj_polynomial_order" value="10" />
    <param name="vehicle_traj_derivation_order" value="4" unless="$(arg dji)" />
    <param name="vehicle_traj_derivation_order" value="3" if="$(arg dji)" />
    <param name="vehicle_lambda_D" value="1000" />
    <param name="vehicle_estimate_odom_number" value="75" />
    <param name="vehicle_trajectory_generate_freqency" value="5" />
    <param name="vehicle_visualization_predict_time" value="7.0" />
    <param name="vehicle_visualization_preview_time" value="2.0" />
    <param name="param_output_param" value="false" />
  </node>

  <group if="$(arg gazebo)">
    <group if="$(arg empty_world)">
      <!-- Empty environment -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="gui" value="false" />
      </include>
    </group>

    <group unless="$(arg empty_world)">
      <!-- Task1 environment with moving truck -->
      <!-- <include file="$(find jsk_mbzirc_common)/launch/mbzirc_arena.launch" > -->
      <!--   <arg name="gui" default="true"  /> -->
      <!--   <arg name="world_name" default="$(find jsk_mbzirc_common)/gazebo_model/world/mbzirc_arena_task_1.world"/> -->
      <!-- </include> -->

      <!-- Task1 environment only -->
      <include file="$(find jsk_mbzirc_common)/launch/mbzirc_arena_1.launch" >
        <arg name="gui" value="false" />
      </include>
    </group>

    <group if="$(arg has_hector)">
      <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
        <arg name="name" value="quadrotor"/>
        <!-- <arg name="model" value="$(find jsk_mbzirc_tasks)/urdf/hawk.urdf.xacro"/> -->
        <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_downward_cam.gazebo.xacro"/>
        <arg name="use_ground_truth_for_tf" value="true" />
        <arg name="use_ground_truth_for_control" value="true" />
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="0.5"/>
      </include>
      <node pkg="truck_server" type="uav_teleop_keyboard" name="uav_teleop_keyboard"
            launch-prefix="xterm -e">
        <param name="teleopUGV" value="false"/>
        <remap from="teleopUGV" to="uav_teleop_keyboard/teleopUGV"/>
      </node>
    </group>
  </group>
</launch>
